{% extends "admin/base_site.html" %}

 {% block branding %}
    <h1 style ="font-weight: 500" id="site-name">
        ADMINISTRATION
    </h1> 
     {% comment %} <h1 id="site-tagline">MIS ADMINISTRATION</h1>  {% endcomment %}
     <div style= "width: 20vw; display: flex; justify-content: center;">
        <a href="{% url 'index' %}" style="align-items:center; width: 100%; display:flex; justify-content:right;",class="button">VISIT SITE</a>

     </div>
 {% endblock %} 




{% block content %}
    <div class="app-index">
        {# Remove or comment out the following block #}
        {# <div class="module" id="recent-actions-module">
            <h2>Recent Actions</h2>
            <div class="actions">
                <ul>
                    {% for action in recent_actions %}
                    <li class="action">{{ action }}</li>
                    {% empty %}
                    <li class="none">No recent actions.</li>
                    {% endfor %}
                </ul>
            </div>
        </div> #}
    </div>
{% endblock %}